@media (max-width: 1200px) {
   .promo {
      padding: 20px 40px;
   }

   .advantages {
      &__wrapper {
         padding: 0 60px;
      }
   }

   .consultation {
      padding: 60px 60px 0px 60px;
   }

   .carousel {
      padding: 50px 30px;

      &__inner {
         width: 600px;

         img {
            width: 600px;
         }
      }

      .slick-prev,
      .slick-next {
         img {
            width: 25px;
            height: 40px;
         }
      }
   }

   .catalog {
      padding: 50px;

      &__content {
         justify-content: space-around;
      }
   }

   .feed {
      padding: 50px 30px;

      &__text {
         margin-left: 40px;
      }
   }

   .footer {
      &__info {
         width: 380px;
         height: 120px;
      }

      &__social {
         margin-top: 25px;

      }

      &__phone {
         margin-top: 15px;
         font-size: 19px;
      }

      &__addr {
         margin-bottom: 25px;
      }
   }
}

@media (max-width: 991px) {

   .advantages {

      &__descr {
         font-size: 14px;
      }

      &__item {
         max-width: 220px;
      }

      &__subtitle {
         font-size: 18px;
      }
   }

   .consultation {
      display: block;
      margin: 0 auto;
      text-align: center;
      min-height: 600px;

      h2 {
         font-size: 28px;
         text-align: center;
      }

      &__descr {
         font-size: 18px;
         margin-top: 10px;
      }

      #consultation-form {
         margin: 80px auto;
      }
   }

   .carousel {
      .slick-dots {
         display: flex;
      }

      .slick-slider button {
         display: block;
         border: 1px solid #000;
      }
   }

   .footer {
      &__info {
         width: 340px;
         height: 100px;
      }

      &__social {
         margin-top: 25px;

      }

      &__phone {
         margin-top: 15px;
         font-size: 17px;
      }

      &__addr {
         margin-bottom: 25px;
         font-size: 16px;
      }
   }
}

@media (max-width: 767px) {
   .promo {
      text-align: center;

      &__wrapper {
         align-items: center;

      }

      &__header {
         font-size: 36px;
      }

      &__subheader {
         font-size: 24px;
      }
   }

   .header {
      &__phone {
         font-size: 16px;
         margin-bottom: 5px;
      }

      &__official {
         font-size: 14px;

         span {
            font-size: 16px;
         }
      }

      img {
         width: 170px;

      }

      &__contacts {
         align-items: center;
      }
   }

   .advantages {
      &__wrapper {
         display: block;
         margin: 0 auto;
         text-align: center;
      }

      &__item {
         max-width: 190px;
         margin: 0 auto;
         margin-top: 30px;
      }

      &__subtitle {
         font-size: 16px;
         margin-top: 15px;
      }
   }

   .carousel {

      &__inner {
         width: 450px;

         img {
            width: 450px;
         }
      }
   }

   .catalog {
      &__tab {
         div {
            font-size: 17px;
            line-height: 49px;
         }
      }
   }

   .feed {
      &__text {
         margin-left: 25px;
      }

      &__item {
         margin-top: 30px;
      }
   }

   .footer {
      &__info {
         width: 280px;
         height: 85px;
         padding-top: 35px;
      }

      &__social {
         margin-top: 35px;

      }

      &__phone {
         margin-top: 15px;
         font-size: 16px;
      }

      &__addr {
         margin-bottom: 15px;
         font-size: 16px;
      }

      &__social-item {

         width: 25px;
         height: 25px;
         margin-right: 25px;

         &:nth-child(3) {
            margin-right: 0;
         }

      }
   }
}

@media (max-width: 575px) {
   .header {
      &__phone {
         display: none;
      }

      img {
         width: 170px;
      }

      &__official {
         display: none;
      }

      button {
         width: 135px;
         font-size: 12px;
         height: 30px;
      }
   }

   .promo {



      &__icons {
         width: 380px;
         padding: 0 10px;
      }

      &__icon {
         width: 95px;
         height: 95px;
      }
   }

   .carousel {
      padding-right: 25px;

      .slick-dots {
         display: flex;
      }

      .slick-slider button {
         display: block;
         border: 1px solid #000;
      }

      &__inner {
         width: 300px;

         img {
            width: 300px;
         }
      }
   }

   .catalog {
      padding: 70px 20px 100px 20px;

      &__tab {
         width: 170px;
         height: 40px;

         div {
            font-size: 11px;
            line-height: 41px;

         }
      }

      &-item {
         width: 240px;

         &__subtitle {
            font-size: 18px;
         }

         &__descr {
            font-size: 14px;
         }

         &__link {
            font-size: 16px;
         }

         &__list {
            font-size: 12px;
         }

         &__back {
            font-size: 16px;
         }

         &__price {
            font-size: 19px;
         }

         &__img {
            width: 120px;
            height: 180px;
         }
      }


   }

   .button_mini {
      width: 120px;
      height: 40px;
      font-size: 16px;
   }

   .feed {
      &__item {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;

      }

      &__text {
         margin-left: 0;
         padding-right: 0;
      }

      &__img {
         margin-bottom: 25px;
         margin-top: 20px;
      }
   }

   .footer {
      &__info {
         width: 240px;
         height: 85px;
         padding: 25px 30px 60px 30px;
      }

      &__social {
         margin-top: 30px;

      }

      &__phone {
         margin-top: 13px;
         font-size: 15px;
      }

      &__addr {
         margin-bottom: 15px;
         font-size: 15px;
      }

      &__social-item {

         width: 15px;
         height: 15px;
         padding-right: 10px;

      }
   }

   .consultation {
      padding: 85px 15px 40px 15px;

      .feed-form {
         width: 260px;
         margin-bottom: 15px;
      }
   }
}